header
  .element-row
    .element-column.elementor-col-16
      .logo
        a
          img(src=" https://sun-asterisk.vn/wp-content/uploads/2020/10/logo-sun@2x.png")
    .element-column.elementor-col-66
      .elementor-widget-wrap
        .elementor-widget-container
          nav
            ul
              li
                a Trang chu
              li
                a Trang chu
              li
                a Trang chu
              li
                a Trang chu
    .element-column.elementor-col-16
      .elementor-widget-wrap
        .elementor-widget-container
          ul
            li.lang-item
              a vi
            li.lang-item
              a en
