header
  .header-content
    img.img-logo(src="https://mobirise.com/extensions/organicamp/assets/images/logo1.jpg")
    .header-menu
      ul.menu-dropdown
        li
          span Demo Pages
        li
          span Watch video
        li
          Blocks
      button.btn.btn--state-green Buy now
